.title {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: auto;
    width: 400px;
}

.container {
    color:black;
}

.input {
    width: 400px;
    height: 25px;
}

.input2 {
    width: 400px;
    height: 25px;
}

.input3 {
    width: 700px;
    height: 100px;
}